# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Python environment files
.python-version

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.pytest_cache/
htmlcov/

# Type checker
.mypy_cache/

# Linter
.ruff_cache/

# IDEs
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# Logs
*.log

dataset/*
!dataset/.gitkeep
